# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCOde files
*.xcodeproj

# autoconf related
Makefile
*.log
config.status
include/config.h
include/atmi_config.h
autom4te.cache
locale

# misc
.*
