# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCOde files
*.xcodeproj

# autoconf related
Makefile
*.log
confdefs.h
config.status
autom4te.cache

# Tuxedo specific files
*ULOG*

# misc and project created files
doc
doxyfile
config.h
locale
html
man
.*
ULOG*
access*
src/atmi++.cpp
*.tar

# sample programs
btest
btestw
evtest
evtestw
exceptions-tests
exceptions-testsw
sample_fml_table.h

