# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# XCOde files
*.xcodeproj

# autoconf related
Makefile
*.log
confdefs.h
config.status
autom4te.cache

# RPM build
*.spec

# Tuxedo specific files
*ULOG*

# misc and project created files
bin
app
doc
sonar-project.properties
doxyfile
config.h
locale
html
man
distrib
rmpbuild
*SERV
.*
ULOG*
access*
*.tar
*orig
*.out
*.err

# sample programs
ulog_test
exceptions_tests
buffer_test        
multi_context_test 
queue_test          
transaction_test
sample_fml_table.h

